@if (taken.length > 0) {
  <table class="table table-vcenter">
    <thead>
    <tr>
      <th>Omschrijving</th>
      <th>Toegewezen aan</th>
    </tr>
    </thead>
    <tbody>
      @for (taak of taken; track taak; let i = $index) {
        <tr>
          <td class="text-secondary">
            <span>{{ taak.omschrijving }}</span>
          </td>
          <td class="text-secondary">
            @for (gezinslid of taak.gezinsleden; track gezinslid; let i = $index) {
              @if (i != 0) {
                <br/>
              }
              {{ gezinslid | gezinslidOpId | async | gezinslidVoornaam }}
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
}
