<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
  <app-side-bar></app-side-bar>
</aside>
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="card">
        <div class="card-body">
          <app-meldingen
            [foutmeldingen]="foutmeldingen"
            [meldingen]="meldingen"
            [goedmeldingen]="goedmeldingen"
          ></app-meldingen>

          <form [formGroup]="adresBoekForm" (ngSubmit)="opslaanAdresBoek()">
            <div class="mb-3" *ngIf="!editMode">
              <label class="form-label required" for="omschrijving">Omschrijving :</label>
              <input class="form-control" type="text" name="omschrijving" id="omschrijving" formControlName="omschrijving"/>
            </div>
            <app-opslaan-en-afbreken-buttons *ngIf="!editMode"
                                             [reactive]="true"
                                             [afbrekenButtonTonen]="true"
                                             (afbrekenEventEmitter)="resetAdresBoek()"
            ></app-opslaan-en-afbreken-buttons>
          </form>

          <app-lijst-adressen
            [adressen]="adressen"
            [omschrijving]="omschrijving"
            (nieuwAdresEventEmitter)="nieuwAdres()"
            (gewijzigdeEventEmitter)="adressenGewijzigd()"
            [toevoegButtonTonen]="!toevoegTonen"
            (startBewerkenEventEmitter)="startBewerken($event)"
          ></app-lijst-adressen>

          <form [formGroup]="adresForm" (ngSubmit)="opslaanAdres()" *ngIf="toevoegTonen">
            <div class="mb-3">
              <label class="form-label required" for="naam">Naam :</label>
              <input class="form-control" type="text" name="naam" id="naam" formControlName="naam"/>
            </div>
            <div class="mb-3">
              <label class="form-label required" for="postcode">Postcode :</label>
              <input class="form-control" type="text" name="postcode" id="postcode" formControlName="postcode" (change)="onChangeCheckPostcode()"
                     [ngStyle]="{'background-color': resolving ? 'gray' : ''}" [readOnly]="resolving"/>
            </div>
            <div class="mb-3">
              <label class="form-label required" for="huisnummer">Huisnummer :</label>
              <input class="form-control" type="text" name="huisnummer" id="huisnummer" formControlName="huisnummer"
                     (change)="onChangeCheckHuisNummer()" [ngStyle]="{'background-color': resolving ? 'gray' : ''}" [readOnly]="resolving"/>
            </div>
            <div class="mb-3">
              <label class="form-label required" for="toevoeging">Toevoeging :</label>
              <input class="form-control" type="text" name="toevoeging" id="toevoeging" formControlName="toevoeging"
                     [ngStyle]="{'background-color': resolving ? 'gray' : ''}" [readOnly]="resolving"/>
            </div>
            <div class="mb-3">
              <label class="form-label required" for="straat">Straat :</label>
              <input class="form-control" type="text" name="straat" id="straat" formControlName="straat"
                     [ngStyle]="{'background-color': resolving ? 'gray' : ''}" [readOnly]="resolving"/>
            </div>
            <div class="mb-3">
              <label class="form-label required" for="plaats">Plaats :</label>
              <input class="form-control" type="text" name="plaats" id="plaats" formControlName="plaats"
                     [ngStyle]="{'background-color': resolving ? 'gray' : ''}" [readOnly]="resolving"/>
            </div>

            <app-opslaan-en-afbreken-buttons
              [reactive]="true"
              [afbrekenButtonTonen]="true"
              (afbrekenEventEmitter)="resetAdres()"
            ></app-opslaan-en-afbreken-buttons>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
