<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
  <app-side-bar></app-side-bar>
</aside>
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">

      <app-header-met-toevoeg-button
        headerTekst="Adresboeken"
        (toevoegActieEmitter)="voegAdresBoekToe()"
        [toevoegKnopTonen]="true"
      ></app-header-met-toevoeg-button>

      <p *ngIf="adresBoeken?.length == 0">
        (Nog) geen adresBoeken aanwezig...
      </p>

      @for (adresBoek of adresBoeken; track adresBoek) {
        <div class="card">
          <div class="card-body">
            <a href="/adresboek/{{adresBoek.id}}">{{ adresBoek.omschrijving == null ? 'Geen omschrijving' : adresBoek.omschrijving }}
              - {{ gezinslid(adresBoek.gezinslid) }}</a>
            &nbsp;
            <app-opslaan-en-afbreken-buttons
              [id]="adresBoek.id"
              [nieuweRegel]="false"
              [verwijderButtonTonen]="true"
              [opslaanButtonTonen]="false"
              [afbrekenButtonTonen]="false"
              [verwijderButtonTonen]="true"
              (verwijderenEventEmitter)="verwijder($event)"
            ></app-opslaan-en-afbreken-buttons>
          </div>
        </div>
      }
    </div>
  </div>
</div>

<app-modal
  [tonen]="modalTonen"
  [tekst]="'Weet je zeker dat je het adresBoek met omschrijving '+ getOmschrijving(teVerwijderenAdresBoek) +' wilt verwijderen?'"
  (jaActieEmitter)="doeVerwijder()"
  (neeActieEmitter)="verbergModal()"
></app-modal>
