<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
  <app-side-bar></app-side-bar>
</aside>
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      @if (!nieuweTaakModus) {
        <div class="table-responsive">
          <app-header-met-toevoeg-button
            headerTekst="Taken"
            (toevoegActieEmitter)="nieuweTaak()"
            [toevoegKnopTonen]="true">
          </app-header-met-toevoeg-button>

          <table class="table table-vcenter">
            <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Omschrijving</th>
              <th>Toegewezen aan</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
              @for (taak of taken; track taak; let i = $index) {
                <tr>
                  <td class="text-secondary">
                    <input type="checkbox" (click)="afvinken(taak)" (keyup)="afvinken(taak)"/>
                  </td>
                  <td class="text-secondary">
                    @if (wijzigId != taak.id) {
                      <span>{{ taak.omschrijving }}</span>
                    }
                    @if (wijzigId == taak.id) {
                      <input class="form-control" type="text" id="wijzigomschrijving-{{i}}" [(ngModel)]="taak.omschrijving"/>
                    }
                  </td>
                  <td class="text-secondary">
                    @if (wijzigId != taak.id) {
                      @for (gezinslid of taak.gezinsledenToewijzen; track gezinslid; let i = $index) {
                        @if (gezinslid.geselecteerd) {
                          @if (!isEersteKeer()) {
                            <br/>
                          }
                          {{ gezinslid.id | gezinslidOpId | async | gezinslidVoornaam }}
                        }
                      }
                    }
                    {{ resetEersteKeer() }}
                    @if (wijzigId == taak.id) {
                      <div class="dropdown">
                        <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">Selecteer gezinsleden</a>
                        <div class="dropdown-menu">
                          @for (gezinslid of taak.gezinsledenToewijzen; track gezinslid) {
                            <label class="dropdown-item">
                              <input class="form-check-input m-0 me-2" type="checkbox" checked="{{gezinslid.geselecteerd ? 'checked' : ''}}"
                                     [(ngModel)]="gezinslid.geselecteerd"/> {{ gezinslid.voornaam }}
                            </label>
                          }
                        </div>
                      </div>
                    }
                  </td>
                  <td id="wijzig-{{i}}" class="text-secondary">
                    <app-opslaan-en-afbreken-buttons
                      [opslaanButtonTonen]="wijzigId == taak.id"
                      [verwijderButtonTonen]="wijzigId != taak.id"
                      [bewerkenButtonTonen]="wijzigId != taak.id"
                      [afbrekenButtonTonen]="false"
                      [kleineButtons]="true"
                      [id]="taak.id"
                      (opslaanEventEmitter)="opslaan()"
                      (bewerkenEventEmitter)="wijzigItem($event)"
                      (verwijderenEventEmitter)="verwijderen($event)"
                    >
                    </app-opslaan-en-afbreken-buttons>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      }
      @if (nieuweTaakModus) {
        <div class="mb-3">
          <label class="form-label required" for="omschrijving">Omschrijving :</label>
          <input class="form-control" type="text" name="omschrijving" id="omschrijving" [(ngModel)]="omschrijving"/>
        </div>
        @if (gezinsleden.length > 0) {
          <div class="mb-3" id="gezinsleden">
            <p>Voor wie (niemand selecteren betekent dat het voor het hele gezin is)</p>
            @for (gezinslid of gezinsleden; track gezinslid) {
              <label class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="gezinslid.geselecteerd" name="gezinslid-checked">
                <app-avatar
                  [gezinslidId]="gezinslid.id"
                ></app-avatar>
                <span style="width:90%; float:right;" class="form-label" name="gezinslid-naam">{{ gezinslid.voornaam }}</span>
              </label>
            }
          </div>
        }

        <app-opslaan-en-afbreken-buttons
          (opslaanEventEmitter)="opslaan()"
          (afbrekenEventEmitter)="afbreken()"
        ></app-opslaan-en-afbreken-buttons>
      }
    </div>
  </div>
</div>
