<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="card card-md">
      <div class="card-body">
        <h2 class="h2 text-center mb-4">Wachtwoord wijzigen</h2>
        <app-meldingen
          [foutmeldingen]="foutmeldingen"
        ></app-meldingen>
        <span *ngIf="!stapEenGereed">
          <div class="mb-3">
            <label class="form-label required" for="email">Vul hier jouw e-mailadres in dat je gebruikt om in te loggen :</label>
            <input class="form-control" type="text" name="email" id="email" [(ngModel)]="email"/>
          </div>
          <button class="btn btn-primary" id="doorgaan" name="doorgaan" (click)="doorgaanNaInvullenEmail()">Doorgaan</button>
        </span>
        <span *ngIf="stapEenGereed && !codeOk">
          We hebben een code naar het door jou ingevulde e-mailadres gestuurd, vul deze hieronder in om je wachtwoord te wijzigen.
          <br/>
          <br/>
          <input class="form-control" id="activeringsCodeCode1" type="text" class="activeringscode" [(ngModel)]="codeDeelEen"
                 maxlength="1"
                 (keyup)="controlerenActiveringsCode(1)"/>
          <input class="form-control" id="activeringsCodeCode2" type="text" class="activeringscode" [(ngModel)]="codeDeelTwee"
                 #codeDeelTweeE
                 maxlength="1"
                 (keyup)="controlerenActiveringsCode(2)"/>
          <input class="form-control" id="activeringsCodeCode3" type="text" class="activeringscode" [(ngModel)]="codeDeelDrie"
                 #codeDeelDrieE
                 maxlength="1"
                 (keyup)="controlerenActiveringsCode(3)"/>
          <input class="form-control" id="activeringsCodeCode4" type="text" class="activeringscode" [(ngModel)]="codeDeelVier"
                 #codeDeelVierE
                 maxlength="1"
                 (keyup)="controlerenActiveringsCode(4)"/>
          <input class="form-control" id="activeringsCodeCode5" type="text" class="activeringscode" [(ngModel)]="codeDeelVijf"
                 #codeDeelVijfE
                 maxlength="1"
                 (keyup)="controlerenActiveringsCode(5)"/>
          <input class="form-control" id="activeringsCodeCode6" type="text" class="activeringscode" [(ngModel)]="codeDeelZes"
                 #codeDeelZesE
                 maxlength="1"
                 (keyup)="controlerenActiveringsCode(6)"/>
      </span>
        <span *ngIf="codeOk">
        <fieldset class="form-fieldset" style="width: 90%;">
          <legend>
            Kies een wachtwoord :
          </legend>
          <div class="mb-3">
            <label class="form-label required" for="wachtwoord">Wachtwoord :</label>
            <input class="form-control" type="password" name="wachtwoord" id="wachtwoord" [(ngModel)]="wachtwoord" (keyup)="onChangeCheckPassword()"/>
          </div>
          <span *ngIf="wachtwoord != ''">
            <div class="alert alert-danger m-0" *ngIf="!wachtwoordSterkte.valide">
              Het ingevoerde wachtwoord voldoet niet aan de eisen, het moet:<br/><br/>
              <ul>
                <li *ngFor="let melding of wachtwoordSterkte.meldingen">{{ melding }}</li>
              </ul>
              <div class="progress">
                <progress class="progress progress-sm" value="{{passwordStrength}}" max="5"></progress>
              </div>
            </div>
          </span>
          <div class="mb-3">
              <label class="form-label required" for="wachtwoord-nogmaals">Wachtwoord (nogmaals):</label>
              <input class="form-control" type="password" name="wachtwoord-nogmaals" id="wachtwoord-nogmaals" [(ngModel)]="wachtwoordnogmaals"
                     (keyup)="onChangeCheckPassword()"/>
            </div>
            <button class="btn btn-primary" id="wachtwoordopslaan" name="wachtwoordopslaan" (click)="wachtwoordOpslaan()" [disabled]="!passwordOk">Opslaan</button>
        </fieldset>
      </span>
      </div>
    </div>
  </div>
</div>
