<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
  <app-side-bar></app-side-bar>
</aside>
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="card">
        <div class="card-body">
          <span *ngIf="bewerkmodus">
            <div class="mb-3">
              <label class="form-label required" for="omschrijving">Omschrijving :</label>
              <input class="form-control" type="text" name="omschrijving" id="omschrijving"
                     [(ngModel)]="verlanglijstje!.omschrijving"/>
            </div>
            <div class="mb-3">
              <label class="form-label required" for="eigenaar">Van wie is deze lijst :</label>
              <select class="form-control" type="text" name="eigenaar" id="eigenaar" [(ngModel)]="verlanglijstje!.gezinslid">
                <option value=""></option>
                @for (gezinslid of gezin!.gezinsleden; track gezinslid) {
                  <option value="{{gezinslid.id}}">{{ gezinslid.voornaam }}</option>
                }
              </select>
            </div>
            <app-opslaan-en-afbreken-buttons
              (opslaanEventEmitter)="opslaan()"
              [afbrekenButtonTonen]="false"
            ></app-opslaan-en-afbreken-buttons>
          </span>
          <app-header-met-toevoeg-button *ngIf="!headerWijzigen"
                                         [wijzigKnopTonen]="true"
                                         (wijzigActieEmitter)="wijzigHeader()"
                                         [headerTekst]=omschrijving(verlanglijstje!)
                                         (toevoegActieEmitter)="toevoegenItem()"
                                         [toevoegKnopTonen]="true"
          ></app-header-met-toevoeg-button>
          <span *ngIf="headerWijzigen">
              <input class="form-control" type="text" name="omschrijving" id="omschrijving" placeholder="Omschrijving..."
                     [(ngModel)]="verlanglijstje!.omschrijving"/>
                      <app-opslaan-en-afbreken-buttons
                        (opslaanEventEmitter)="opslaanOmschrijving()"
                        (afbrekenEventEmitter)="afbrekenOmschrijvingWijzigen()"
                      ></app-opslaan-en-afbreken-buttons>
          </span>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-vcenter">
              <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Link</th>
                <th>Omschrijving</th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody *ngIf="verlanglijstje!=undefined">
                @for (verlanglijstItem of verlanglijstje!.verlanglijstItems; track verlanglijstItem) {
                  <tr>
                    <td *ngIf="verlanglijstItem!.id == null || verlanglijstItem!.id == teBewerkenItem" class="mb-3">
                      &nbsp;
                    </td>
                    <td *ngIf="verlanglijstItem!.id == null || verlanglijstItem!.id == teBewerkenItem" class="mb-3">
                      &nbsp;
                    </td>
                    <td *ngIf="verlanglijstItem!.id == null || verlanglijstItem!.id == teBewerkenItem" class="mb-3">
                      <label class="form-label required" for="omschrijving">Omschrijving :</label>
                      <input class="form-control" type="text" name="omschrijving" id="omschrijving" [(ngModel)]="verlanglijstItem!.omschrijving"/>

                      <label class="form-label" for="url">Url :</label>
                      <input class="form-control" type="text" name="url" id="url" [(ngModel)]="verlanglijstItem!.url"/>
                    </td>
                    <td *ngIf="verlanglijstItem!.id == null || verlanglijstItem!.id == teBewerkenItem">
                      <app-opslaan-en-afbreken-buttons
                        [id]="verlanglijstItem.id"
                        (opslaanEventEmitter)="opslaanItem($event)"
                        (afbrekenEventEmitter)="afbreken()"
                        [kleineButtons]="true"
                      ></app-opslaan-en-afbreken-buttons>
                    </td>
                    <td
                      *ngIf="tonenObvDatumAfgestreept(verlanglijstItem.datumAfgestreept)  && verlanglijstItem!.id != null && verlanglijstItem!.id != teBewerkenItem && verlanglijstItem.id != null"
                      style="width: 5%;">
                      <input class="form-control" id="afvinken-{{verlanglijstItem.id}}" type="checkbox" class="form-selectgroup-check"
                             (change)="vinkItemAf(verlanglijstItem)"/>
                    </td>
                    <td style="width: 5%;"
                        *ngIf="tonenObvDatumAfgestreept(verlanglijstItem.datumAfgestreept)  && verlanglijstItem!.id != teBewerkenItem && verlanglijstItem.id != null">
                      <a *ngIf="verlanglijstItem.url != null" href="{{verlanglijstItem.url | http}}" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="icon icon-tabler icons-tabler-outline icon-tabler-unlink">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <path d="M17 22v-2"/>
                          <path d="M9 15l6 -6"/>
                          <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"/>
                          <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"/>
                          <path d="M20 17h2"/>
                          <path d="M2 7h2"/>
                          <path d="M7 2v2"/>
                        </svg>
                      </a>
                    </td>
                    <td
                      *ngIf="tonenObvDatumAfgestreept(verlanglijstItem.datumAfgestreept)  && verlanglijstItem!.id != teBewerkenItem && verlanglijstItem.id != null">
                      <span [ngClass]="{'doorhalen': doorstrepen(verlanglijstItem.datumAfgestreept)}"> {{ verlanglijstItem!.omschrijving }}</span>
                    </td>
                    <td
                      *ngIf="tonenObvDatumAfgestreept(verlanglijstItem.datumAfgestreept)  && verlanglijstItem!.id != teBewerkenItem && verlanglijstItem.id != null">
                      <app-opslaan-en-afbreken-buttons
                        [id]="verlanglijstItem.id"
                        [verwijderButtonTonen]="true"
                        [opslaanButtonTonen]="false"
                        [afbrekenButtonTonen]="false"
                        (verwijderenEventEmitter)="verwijder($event)"
                        [nieuweRegel]="false"
                        [bewerkenButtonTonen]="true"
                        (bewerkenEventEmitter)="startBewerken($event)"
                        [kleineButtons]="true"
                      ></app-opslaan-en-afbreken-buttons>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal
  [tonen]="modalTonen"
  [tekst]="'Weet je zeker dat je het item met omschrijving '+ getOmschrijving(teVerwijderenItem) +' wilt verwijderen?'"
  (jaActieEmitter)="doeVerwijder()"
  (neeActieEmitter)="verbergModal()"
></app-modal>
