<div class="modal" id="afspraakModal" [ngStyle]="{'display': modalTonen}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nieuwe afspraak</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="verbergModal()"></button>
      </div>
      <div class="modal-body">
        <app-meldingen
          [foutmeldingen]="foutmeldingen"
          [meldingen]="meldingen"
          [goedmeldingen]="goedmeldingen"
        ></app-meldingen>
        <fieldset class="form-fieldset" style="font-size: 16px;">

          <app-gezinslid-bij-afspraak
            [gezinsleden]="afsprakenService.gezinsleden"
          ></app-gezinslid-bij-afspraak>

          @if (soortenDienstenTonen()) {
            <div class="mb-3">
              <label class="form-label" for="soort-dienst">Soort Dienst :</label>
              <select class="form-control" type="text" name="soort-dienst" id="soort-dienst"
                      [(ngModel)]="afsprakenService.nieuweOfTeWijzigenAfspraak.soortDienst">
                <option value=""></option>
                @for (soort of soortenDiensten(); track soort) {
                  <option value="{{soort.id}}">{{ soort.omschrijving }}</option>
                }
              </select>
            </div>
          }
          <div class="mb-3" *ngIf="soortDienstNietGekozen()">
            <label class="form-label required" for="omschrijving">Omschrijving :</label>
            <input class="form-control" type="text" name="omschrijving" id="omschrijving"
                   [(ngModel)]="afsprakenService.nieuweOfTeWijzigenAfspraak.omschrijving"/>
          </div>
          <div class="mb-3" *ngIf="soortDienstNietGekozen()">
            <label class="form-label" for="heledag">Hele dag :</label>
            <input class="form-control form-check-input" type="checkbox" name="heledag" id="heledag"
                   [(ngModel)]="afsprakenService.nieuweOfTeWijzigenAfspraak.heledag"/>
          </div>
          <span *ngIf="afsprakenService.nieuweOfTeWijzigenAfspraak.heledag">
          <div class="mb-3">
            <label class="form-label required" for="datumvan">Datum {{ soortDienstNietGekozen() ? 'van' : '' }} :</label>
            <input class="form-control" type="date" name="datumvan" id="datumvan" [(ngModel)]="afsprakenService.nieuweOfTeWijzigenAfspraak.vanDatum"/>
          </div>
          <div class="mb-3" *ngIf="soortDienstNietGekozen()">
            <label class="form-label required" for="datumtot">Datum tot :</label>
            <input class="form-control" type="date" name="datumtot" id="datumtot" [(ngModel)]="afsprakenService.nieuweOfTeWijzigenAfspraak.totDatum"/>
          </div>
          </span>
          <span *ngIf="!afsprakenService.nieuweOfTeWijzigenAfspraak.heledag && soortDienstNietGekozen()">
            <div class="mb-3">
              <label class="form-label required" for="van">Van :</label>
              <input class="form-control" type="datetime-local" name="van" id="van" (change)="startTijdGewijzigd()"
                     [(ngModel)]="afsprakenService.nieuweOfTeWijzigenAfspraak.vanTijd"/>
            </div>
            <div class="mb-3">
              <label class="form-label required" for="van">Tot :</label>
              <input class="form-control" type="datetime-local" name="tot" id="tot"
                     [(ngModel)]="afsprakenService.nieuweOfTeWijzigenAfspraak.totTijd"/>
            </div>
          </span>
          <div class="mb-3" *ngIf="soortDienstNietGekozen()">
            <label class="form-label" for="soort">Soort :</label>
            <select class="form-control" type="text" name="soort" id="soort" [(ngModel)]="afsprakenService.nieuweOfTeWijzigenAfspraak.soortAfspraak"
                    (change)="soortAfspraakGewijzigd()">
              <option value=""></option>
              <option value="HUWELIJK">Huwelijk</option>
              <option value="VERJAARDAG">Verjaardag</option>
              <option value="OVERIG">Overig</option>
            </select>
          </div>
          <div class="mb-3" *ngIf="soortDienstNietGekozen()">
            <label class="form-label" for="terugkeer">Terugkeer :</label>
            <select class="form-control" type="text" name="terugkeer" id="terugkeer"
                    [(ngModel)]="afsprakenService.nieuweOfTeWijzigenAfspraak.terugkeer">
              <option value="NIET">Niet</option>
              <option value="JAARLIJKS">Jaarlijks</option>
              <option value="MAANDELIJKS">Maandelijks</option>
            </select>
          </div>
        </fieldset>
      </div>
      <div class="modal-footer">
        <app-opslaan-en-afbreken-buttons
          (opslaanEventEmitter)="opslaanAfspraak()"
          (afbrekenEventEmitter)="verbergModal()"
          (verwijderenEventEmitter)="verwijderAfspraak()"
          [verwijderButtonTonen]="afsprakenService.nieuweOfTeWijzigenAfspraak.id != undefined && afsprakenService.nieuweOfTeWijzigenAfspraak.id != 0"
        ></app-opslaan-en-afbreken-buttons>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="verwijderModal" [ngStyle]="{'display': verwijderModalTonen}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Afspraak verwijderen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="verbergVerwijderModal()"></button>
      </div>
      <div class="modal-body">
        {{ verwijderTekst() }}
      </div>
      <div class="modal-footer">
        <app-opslaan-en-afbreken-buttons
          (afbrekenEventEmitter)="verbergVerwijderModal()"
          (verwijderenEventEmitter)="doeVerwijderAfspraak()"
          [opslaanButtonTonen]="false"
          [verwijderButtonTonen]="afsprakenService.nieuweOfTeWijzigenAfspraak.id != undefined && afsprakenService.nieuweOfTeWijzigenAfspraak.id != 0"
        ></app-opslaan-en-afbreken-buttons>
      </div>
    </div>
  </div>
</div>
