<div class="accordion-body pt-0">
  <div class="table-responsive">
    <table class="table table-vcenter">
      <thead>
      <tr>
        <th>E-mailadres</th>
        <th>Aangemaakt</th>
        <th>Verzonden</th>
      </tr>
      </thead>
      <tbody>
        @for (email of emails; track email) {
          <tr>
            <td class="text-secondary">{{ email.emailadres }}</td>
            <td class="text-secondary">
              {{ email.tijdstipaangemaakt | maakDatumOp }}
              &nbsp;
              {{ email.tijdstipaangemaakt | maakTijdOp }}
            </td>
            <td class="text-secondary">
              {{ email.tijdstipverstuurd | maakDatumOp }}
              &nbsp;
              {{ email.tijdstipverstuurd | maakTijdOp }}
            </td>
          </tr>
        }
      </tbody>
    </table>

  </div>
</div>
