<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
  <app-side-bar></app-side-bar>
</aside>
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      @if (calendarVisible()) {
        <full-calendar #calendar [options]='calendarOptions()!'>
          <ng-template #eventContent let-arg>
            <app-kalender-item
              [arg]="arg">
            </app-kalender-item>
          </ng-template>
        </full-calendar>
      }
    </div>
  </div>
</div>

<app-afspraken-modal
  [calendarComponent]="calendarComponent"
  [modalTonen]="modalTonen"
  [foutmeldingen]="foutmeldingen"
  [meldingen]="meldingen"
  [goedmeldingen]="goedmeldingen"
  (afspraakGemaaktOfGewijzigdEventEmitter)="afspraakGemaaktOfGewijzigd($event)"
>
</app-afspraken-modal>
