<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
  <app-side-bar></app-side-bar>
</aside>
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <app-gezinslid
        [gezinslid]="gezinslid"
        [gezin]="gezin"
        (opslaanEventEmitter)="doeOpslaan()"
        [preOpslaanObservable]="preOpslaanEventEmitter"
        [avatar]="true"
      ></app-gezinslid>

      <app-opslaan-en-afbreken-buttons
        (opslaanEventEmitter)="opslaan()"
        (afbrekenEventEmitter)="afbreken()"
      ></app-opslaan-en-afbreken-buttons>
    </div>
  </div>
</div>
