<app-meldingen
  [foutmeldingen]="foutmeldingen"
  [meldingen]="meldingen"
  [goedmeldingen]="goedmeldingen"
></app-meldingen>

<div class="accordion-item">
  <h2 class="accordion-header" id="heading-{{index}}">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" (click)="toggle()" data-bs-target="#collapse-" aria-expanded="true">
      <app-avatar [gezinslid]="gezinslid!"></app-avatar>
      &nbsp;
      {{ maakNaamOp(gezinslid) }}
    </button>
  </h2>
  <div id="collapse-{{index}}" class="accordion-collapse collapse {{tonen}}" data-bs-parent="#accordion-example" style="">
    <button style="float:right;" type="button" class="btn btn-ghost-success" (click)="nieuw()" *ngIf="tonen == 'show'">
      Toevoegen
    </button>
    <div class="accordion-body pt-0">
      <div class="table-responsive">
        <table class="table table-vcenter">
          <thead>
          <tr>
            <th>Omschrijving</th>
            <th>Dag</th>
            <th>Van</th>
            <th>Tot</th>
            <th>Bewerkingen</th>
          </tr>
          </thead>
          <tbody>
            @for (soortDienst of soortenDiensten?.soortenDiensten; track soortDienst; ) {
              <tr app-soort-dienst-regel
                  [soortDienst]="soortDienst"
                  (foutmeldingToevoegenEventEmitter)="voegFoutmeldingToe($event)"
                  (foutmeldingResetEventEmitter)="resetFoutmeldingen()"
                  (verwijderenSoortDienstEventEmitter)="setTeVerwijderen($event)"
                  (regelOpgeslagenEventEmitter)="haalDataVanServer()"
              ></tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-modal
  [tonen]="verwijderModalTonen"
  [tekst]="'Weet je zeker dat je de regel bij ' +gezinslidUtil.maakNaamOp(gezinslid!) + ' wilt verwijderen?'"
  (jaActieEmitter)="verwijderSoortDienst()"
  (neeActieEmitter)="verwijderModalVerbergen()"
></app-modal>
