<div class="table-responsive">

  <app-header-met-toevoeg-button
    headerTekst="{{omschrijving}}"
    (toevoegActieEmitter)="nieuwAdres()"
    [toevoegKnopTonen]="toevoegButtonTonen"
  ></app-header-met-toevoeg-button>

  <table class="table table-vcenter">
    <thead>
    <tr>
      <th>Naam</th>
      <th>Straat</th>
      <th>Postcode</th>
      <th>Plaats</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
      @for (adres of getAdressen; track adres) {
        <tr>
          <td class="text-secondary">{{ adres.naam }}</td>
          <td class="text-secondary">{{ adres | straatHuisnummer }}</td>
          <td class="text-secondary">{{ adres.postcode }}</td>
          <td class="text-secondary">{{ adres.plaats }}</td>
          <td class="text-secondary">
            <app-opslaan-en-afbreken-buttons
              [id]="adres.id"
              [verwijderButtonTonen]="true"
              [opslaanButtonTonen]="false"
              [afbrekenButtonTonen]="false"
              [bewerkenButtonTonen]="true"
              (verwijderenEventEmitter)="verwijder($event)"
              [nieuweRegel]="false"
              (bewerkenEventEmitter)="startBewerken( $event)"
              [kleineButtons]="true"
            ></app-opslaan-en-afbreken-buttons>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
<br/>
<button (click)="exporteerNaarCsv()" class="btn btn-secondary">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
       stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-download">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"/>
    <path d="M7 11l5 5l5 -5"/>
    <path d="M12 4l0 12"/>
  </svg>
</button>
