<br *ngIf="nieuweRegel"/>
<button type="button" class="btn btn-ghost-primary{{extraStyle()}}" *ngIf="opslaanButtonTonen && !reactive" (click)="opslaan()" [disabled]="disabled">
  Opslaan
</button>
<button type="submit" name="opslaanButton" class="btn btn-ghost-primary{{extraStyle()}}" *ngIf="opslaanButtonTonen && reactive" [disabled]="disabled">
  Opslaan
</button>

<button type="button" class="btn btn-ghost-secondary{{extraStyle()}}" *ngIf="bewerkenButtonTonen" (click)="bewerken()">Bewerken</button>
&nbsp;
<button type="button" class="btn btn-ghost-warning{{extraStyle()}}" *ngIf="afbrekenButtonTonen" (click)="afbreken()">Afbreken</button>
&nbsp;
<button type="button" class="btn btn-ghost-danger{{extraStyle()}}" *ngIf="verwijderButtonTonen" (click)="verwijderen()">Verwijderen</button>
