<app-meldingen
  [foutmeldingen]="foutmeldingen"
  [meldingen]="meldingen"
  [goedmeldingen]="goedmeldingen"
></app-meldingen>

<fieldset class="form-fieldset" style="font-size: 16px;">
  <div>{{ maakNaamOp(gezinslid) }}</div>
  <div class="mb-3">
    <label class="form-label required" for="voornaam">Voornaam :</label>
    <input class="form-control" type="text" name="voornaam" id="voornaam" [(ngModel)]="gezinslid.voornaam"/>
  </div>
  <div class="mb-3">
    <label class="form-label" for="tussenvoegsel">Tussenvoegsel :</label>
    <input class="form-control" type="text" name="tussenvoegsel" id="tussenvoegsel" [(ngModel)]="gezinslid.tussenvoegsel"
           (change)="tussenvoegselGewijzigd()"/>
  </div>
  <div class="mb-3">
    <label class="form-label required" for="achternaam">Achternaam :</label>
    <input class="form-control" type="text" name="achternaam" id="achternaam" [(ngModel)]="gezinslid.achternaam" (change)="achternaamGewijzigd() "/>
  </div>
  <div class="mb-3">
    <label class="form-label" for="geslacht">Geslacht :</label>
    <select class="form-control" id="geslacht" name="geslacht" [(ngModel)]="gezinslid.geslacht">
      <option value="">Kies een Geslacht</option>
      <option value="MAN">Man</option>
      <option value="VROUW">Vrouw</option>
      <option value="ONBELANGRIJK">Niet belangrijk</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label" for="soort">Soort gezinslid :</label>
    <select class="form-control" id="soort" name="soort" [(ngModel)]="gezinslid.soortGezinslid">
      <option value="">Kies een Soort Gezinslid</option>
      <option value="OUDER">Ouder</option>
      <option value="KIND">Kind</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label" for="geboortedatum">Geboortedatum :</label>
    <input class="form-control" type="date" name="geboortedatum" id="geboortedatum" [(ngModel)]="gezinslid.geboorteDatum"/>
  </div>
  <div class="mb-3" *ngIf="avatar">
    <label class="form-label" for="geboortedatum">Avatar :</label>
    <app-avatar
      [gezinslid]="gezinslid"
      [timestamp]="timestamp"
    ></app-avatar>
    <span style="width: 90%; margin-left:50px; float:right;">
      <input class="form-control" type="file" name="avatar" id="avatar"
             (change)="handleFileInput($any($event).target.files)"
             [(ngModel)]="fileFile"
             [ngModelOptions]="{standalone: true}"/>
      <button class="btn btn-ghost-danger" (click)="verwijderAvatar()" *ngIf="gezinslid.avatarAanwezig">Verwijder Avatar</button>
    </span>
  </div>
</fieldset>
