<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
  <app-side-bar></app-side-bar>
</aside>
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div style="width:50%; float: left;">
        <app-kalender-overzicht></app-kalender-overzicht>
      </div>
      <div style="width:50%; float: right;">
        <app-boodschappen-widget></app-boodschappen-widget>
      </div>
      <div style="width:50%; float: left;">
        <app-taken-widget></app-taken-widget>
      </div>
    </div>
  </div>
</div>
