<div class="modal" id="verwijderModal" [ngStyle]="{'display': tonen ? 'block' : 'none'}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ tekst }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="neeActie()"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn me-auto btn-danger" data-bs-dismiss="modal" (click)="jaActie()">Ja</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="neeActie()">Nee</button>
      </div>
    </div>
  </div>
</div>
