<span class="avatar avatar-sm rounded-circle" *ngIf="getGezinslid() != null">
  <img *ngIf="gezinslid!.avatarAanwezig"
       src="/api/gezin/avatar/download/{{gezinslid!.id}}?{{timestamp}}"/>
  <span *ngIf="!gezinslid!.avatarAanwezig">{{ bepaalInitialen(gezinslid) }}</span>
</span>

