<div class="alert alert-danger" role="alert" *ngIf="foutmeldingen.length > 0">
  <div>
    <h4 class="alert-title">Sorry, er ging iets mis</h4>
    @for (melding of foutmeldingen; track melding) {
      <div class="text-secondary"> - {{ melding }}</div>
    }
  </div>
</div>
<div class="alert alert-info" role="alert" *ngIf="meldingen.length > 0">
  <div>
    <h4 class="alert-title">Attentie</h4>
    @for (melding of meldingen; track melding) {
      <div class="text-secondary"> - {{ melding }}</div>
    }
  </div>
</div>
<div class="alert alert-green" role="alert" *ngIf="goedmeldingen.length > 0">
  <div>
    <h4 class="alert-title">Attentie</h4>
    @for (melding of goedmeldingen; track melding) {
      <div class="text-secondary"> - {{ melding }}</div>
    }
  </div>
</div>
