<app-meldingen
  [foutmeldingen]="foutmeldingen"
  [meldingen]="meldingen"
  [goedmeldingen]="goedmeldingen"
></app-meldingen>

<fieldset class="form-fieldset" style="width: 70%;">
  <legend>Familiegegevens</legend>
  <div class="mb-3">
    <label class="form-label required" for="familienaam">Familienaam :</label>
    <input class="form-control" type="text" name="familienaam" id="familienaam" [(ngModel)]="gezin.naam" (blur)="familenaamGewijzigd()"/>
  </div>
  <div class="mb-3">
    <label class="form-label required" for="emailadres">E-mail adres :</label>
    <input class="form-control" type="email" name="emailadres" id="emailadres" [(ngModel)]="gezin.gezinsleden[0].emailadres"/>
  </div>

  <div *ngIf="!codeVerstuurd && !codeOk" class="mb-3">
    Om zeker te weten dat het jouw e-mailadres is welke je hebt ingevuld, sturen we een activatiecode naar dit e-mailadres als je op de knop hieronder
    drukt. Zonder deze actievatiecode kun je je niet aanmelden.
  </div>

  <button type="button" class="btn btn-primary" (click)="stuurActivatieCode()" *ngIf="!codeVerstuurd">Verifieer</button>

  <div *ngIf="codeVerstuurd && !codeOk" class="mb-3">
    Er is een activeringscode gestuurd naar het e-mailadres wat je hierboven hebt ingevuld. Vul deze code hieronder in.
    <label class="form-label">ActiveringsCode</label>
    <input class="form-control" id="activeringsCodeCode1" type="text" class="activeringscode" [(ngModel)]="codeDeelEen"
           maxlength="1"
           (keyup)="controlerenActiveringsCode(1)"/>
    <input class="form-control" id="activeringsCodeCode2" type="text" class="activeringscode" [(ngModel)]="codeDeelTwee"
           #codeDeelTweeE
           maxlength="1"
           (keyup)="controlerenActiveringsCode(2)"/>
    <input class="form-control" id="activeringsCodeCode3" type="text" class="activeringscode" [(ngModel)]="codeDeelDrie"
           #codeDeelDrieE
           maxlength="1"
           (keyup)="controlerenActiveringsCode(3)"/>
    <input class="form-control" id="activeringsCodeCode4" type="text" class="activeringscode" [(ngModel)]="codeDeelVier"
           #codeDeelVierE
           maxlength="1"
           (keyup)="controlerenActiveringsCode(4)"/>
    <input class="form-control" id="activeringsCodeCode5" type="text" class="activeringscode" [(ngModel)]="codeDeelVijf"
           #codeDeelVijfE
           maxlength="1"
           (keyup)="controlerenActiveringsCode(5)"/>
    <input class="form-control" id="activeringsCodeCode6" type="text" class="activeringscode" [(ngModel)]="codeDeelZes"
           #codeDeelZesE
           maxlength="1"
           (keyup)="controlerenActiveringsCode(6)"/>
  </div>
  <div *ngIf="codeVerstuurd && codeOk" class="mb-3">
    De door jou ingevulde activatiecode is juist.
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="codeGecontroleerd && !codeOk">
    <h4 class="alert-title">Oops</h4>
    <div class="text-secondary">
      Helaas is de door jou ingevulde activatiecode niet juist.
    </div>
  </div>
</fieldset>

<fieldset class="form-fieldset" style="width: 90%;">
  <legend>Kies een wachtwoord :</legend>
  <div class="mb-3">
    <label class="form-label required" for="wachtwoord">Wachtwoord :</label>
    <input class="form-control" type="password" name="wachtwoord" id="wachtwoord" [(ngModel)]="gezin.gezinsleden[0].wachtwoord"
           (keyup)="onChangeCheckPassword()"/>
  </div>
  <span *ngIf="gezin.gezinsleden[0].wachtwoord != null">
      <div class="alert alert-danger m-0" *ngIf="!wachtwoordSterkte.valide">
        Het ingevoerde wachtwoord voldoet niet aan de eisen, het moet:<br/><br/>
        <ul>
          <li *ngFor="let melding of wachtwoordSterkte.meldingen">{{ melding }}</li>
        </ul>
        <div class="progress">
          <progress class="progress progress-sm" value="{{passwordStrength}}" max="5"></progress>
        </div>
      </div>
    </span>
  <div class="mb-3">
    <label class="form-label required" for="wachtwoord-nogmaals">Wachtwoord (nogmaals):</label>
    <input class="form-control" type="password" name="wachtwoord-nogmaals" id="wachtwoord-nogmaals" [(ngModel)]="wachtwoordnogmaals"
           (keyup)="onChangeCheckPassword()"/>
  </div>
</fieldset>

<fieldset class="form-fieldset" style="width: 90%;">
  <legend>
    Gezinsleden
    <a (click)="voegGezinslidToe()" style="float: right; cursor: pointer;" id="voegGezinslidToe">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
           stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 5l0 14"/>
        <path d="M5 12l14 0"/>
      </svg>
    </a>
  </legend>
  @for (gezinslid of gezin.gezinsleden; track gezinslid.id; let i = $index) {
    <div class="form-fieldset" style="float:left; width:30%;">
      <app-gezinslid
        [gezin]="gezin"
        [gezinslid]="gezinslid"
        (opslaanEventEmitter)="doeOpslaan()"
        [preOpslaanObservable]="preOpslaanEventEmitter"
        (tussenvoegselGewijzigdEventEmitter)="tussenvoegselGewijzigd()"
        (achternaamGewijzigdEventEmitter)="achternaamGewijzigd()"
      ></app-gezinslid>
    </div>
  }
</fieldset>

<button class="btn btn-primary" id="opslaan" name="opslaan" [disabled]="!codeOk||!passwordOk" (click)="opslaan()">Opslaan</button>
