<ul class="timeline timeline-simple" style="width: 50%;">
  @for (tijdstip of lijstGebeurtenissen; track tijdstip) {
    <li class="timeline-event">
      <div class="card timeline-event-card">
        <div class="card-header">
          <div class="text-secondary">{{ tijdstip.datum! | maakDagOp }} {{ tijdstip.datum! | maakDatumOp }}</div>
        </div>
        <div class="card-body">
          <p>
            @for (tijdMetGebeurtenissen of tijdstip.tijdMetGebeurtenissen; track tijdMetGebeurtenissen) {
              @if (tijdMetGebeurtenissen.van != undefined || tijdMetGebeurtenissen.tot != undefined) {
                {{ tijdMetGebeurtenissen.van }} - {{ tijdMetGebeurtenissen.tot! }}
                <br/>
              }
              @for (gebeurtenis of tijdMetGebeurtenissen.gebeurtenissen; track gebeurtenis; let i = $index) {
                @if (gebeurtenis.soortDatum == SoortDatumEnum.Huwelijk) {
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                       viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                       class="icon icon-tabler icons-tabler-outline icon-tabler-hearts">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M14.017 18l-2.017 2l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 0 1 8.153 5.784"/>
                    <path
                      d="M15.99 20l4.197 -4.223a2.81 2.81 0 0 0 0 -3.948a2.747 2.747 0 0 0 -3.91 -.007l-.28 .282l-.279 -.283a2.747 2.747 0 0 0 -3.91 -.007a2.81 2.81 0 0 0 -.007 3.948l4.182 4.238z"/>
                  </svg>
                }
                @if (gebeurtenis.soortDatum == SoortDatumEnum.Verjaardag) {
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                       viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                       class="icon icon-tabler icons-tabler-outline icon-tabler-cake">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 20h18v-8a3 3 0 0 0 -3 -3h-12a3 3 0 0 0 -3 3v8z"/>
                    <path
                      d="M3 14.803c.312 .135 .654 .204 1 .197a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1c.35 .007 .692 -.062 1 -.197"/>
                    <path d="M12 4l1.465 1.638a2 2 0 1 1 -3.015 .099l1.55 -1.737z"/>
                  </svg>
                }
                {{ gebeurtenis.omschrijving }}
                <ul>
                  @for (gezinslid of gebeurtenis.gezinsleden; track gezinslid.id; let i = $index) {
                    <li>
                      <app-avatar [gezinslid]="gezinslid"></app-avatar>
                      {{ gezinslid | gezinslidVoornaam }}
                    </li>
                  }
                </ul>
                @if (i != (tijdMetGebeurtenissen.gebeurtenissen.length - 1)) {
                  <br/>
                }
                }
              }
          </p>
        </div>
      </div>
    </li>
  }
</ul>
