<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="card card-md">
      <div class="card-body">
        <h2 class="h2 text-center mb-4">Inloggen</h2>
        @if (gebruikerNietGevondenOfOnjuistWachtwoord) {
          <span id="span-gebruikerNietGevondenOfOnjuistWachtwoord">
             <div class="alert alert-danger m-0">
              De ingevulde gebruikersnaam of wachtwoord is onjuist
            </div>
            <br/>
          </span>
        }
        <form action="./" method="get" autocomplete="off" novalidate>
          <div class="mb-3">
            <label class="form-label" for="email">E-mail adres</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="jouw@email.com"
                   autocomplete="off"
                   [(ngModel)]="inloggenRequast.emailadres">
          </div>
          <div class="mb-2">
            <label class="form-label" for="wachtwoord">
              Wachtwoord
              <span class="form-label-description">
                    <a href="./wijzigwachtwoord">Wachtwoord vergeten</a>
                  </span>
            </label>
            <div class="input-group input-group-flat">
              <input type="{{showPassword ? 'text' : 'password'}}" name="wachtwoord" id="wachtwoord" class="form-control"
                     placeholder="Wachtwoord"
                     autocomplete="off"
                     [(ngModel)]="inloggenRequast.wachtwoord">
              <span class="input-group-text">
                    <a (click)="toonwachtwoord()" class="link-secondary" title="Toon wachtwoord" data-bs-toggle="tooltip"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                           stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z"
                                                                                                              fill="none"/><path
                        d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"/><path
                        d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"/></svg>
                    </a>
                  </span>
            </div>
          </div>
          <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100" (click)="inloggen()">Inloggen</button>
          </div>
        </form>
      </div>
    </div>
    <div class="text-center text-secondary mt-3">
      Nog geen account? <a href="./aanmelden" tabindex="-1">Aanmelden</a>
    </div>
  </div>
</div>
