<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
  <app-side-bar></app-side-bar>
</aside>
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="accordion" id="accordion-example" *ngIf="gezin!=null">
        @for (lid of gezin!.gezinsleden; track lid; let i = $index) {
          <app-soort-dienst [gezinslid]="lid" [index]="i"></app-soort-dienst>
        }
      </div>
    </div>
  </div>
</div>
