@if (gezinsleden.length > 1) {
  <div class="mb-3" id="gezinsleden">
    <p>Voor wie (niemand selecteren betekent dat het voor het hele gezin is)</p>
    @for (gezinslid of gezinsleden; track gezinslid) {
      <label class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="gezinslid.checked" name="gezinslid-checked">
        <app-avatar
          [gezinslidId]="gezinslid.id"
        ></app-avatar>
        <span style="width:90%; float:right;" class="form-label" name="gezinslid-naam">{{ gezinslid.naam }}</span>
      </label>
    }
  </div>
}
