<!--<tr>-->
<td class="text-secondary">
  <span *ngIf="soortDienst.id != 0 && !bewerkModus">{{ soortDienst.omschrijving }}</span>
  <input *ngIf="soortDienst.id == 0 || bewerkModus" class="form-control" type="text" name="omschrijving" id="omschrijving"
         [(ngModel)]="soortDienst.omschrijving"/>
</td>
<td class="text-secondary">
  <span *ngIf="soortDienst.id != 0 && !bewerkModus">{{ maakDagOp(soortDienst.dag) }}</span>
  <select *ngIf="soortDienst.id == 0 || bewerkModus" class="form-control" type="text" name="dag" id="dag" [(ngModel)]="soortDienst.dag">
    <option value="">Geen vaste dag</option>
    <option value="MA">Maandag</option>
    <option value="DI">Dinsdag</option>
    <option value="WO">Woensdag</option>
    <option value="DO">Donderdag</option>
    <option value="VR">Vrijdag</option>
    <option value="ZA">Zaterdag</option>
    <option value="ZO">Zondag</option>
  </select>
</td>
<td class="text-secondary">
  <span *ngIf="soortDienst.id != 0 && !bewerkModus">{{ maakTijdOp(soortDienst.van) }}</span>
  <input *ngIf="soortDienst.id == 0 || bewerkModus" class="form-control" type="time" name="van" id="van" [(ngModel)]="soortDienst.van"/>
</td>
<td class="text-secondary">
  <span *ngIf="soortDienst.id != 0 && !bewerkModus">{{ maakTijdOp(soortDienst.tot) }}</span>
  <input *ngIf="soortDienst.id == 0 || bewerkModus" class="form-control" type="time" name="van" id="van" [(ngModel)]="soortDienst.tot"/>
</td>
<td>
  <button *ngIf="soortDienst.id == 0 || bewerkModus" type="button" class="btn btn-ghost-blue" (click)="opslaan()">
    Opslaan
  </button>
  <button *ngIf="soortDienst.id != 0 && !bewerkModus" type="button" class="btn btn-ghost-primary" (click)="bewerk()">
    Bewerk
  </button>
  <button type="button" class="btn btn-ghost-danger" (click)="setVerwijderSoortDienst()">
    Verwijder
  </button>
</td>
<!--</tr>-->

