@if (boodschappen.length > 0) {
  <div class="table-responsive" id="boodschappentabel">
    <table class="table table-vcenter">
      <thead>
      <tr>
        <th>Wat?</th>
        <th>Waar?</th>
      </tr>
      </thead>
      <tbody>

        @for (boodschappenItem of boodschappen; track boodschappenItem; ) {
          <tr>
            <td style="width=50%;">{{ boodschappenItem.omschrijving }}</td>
            <td style="width=50%;">{{ boodschappenItem.winkel }}</td>
          </tr>
        }

      </tbody>
    </table>
  </div>
}
