<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
  <app-side-bar></app-side-bar>
</aside>
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">

      <app-header-met-toevoeg-button
        headerTekst="Verlanglijstjes"
        (toevoegActieEmitter)="voegLijstToe()"
        [toevoegKnopTonen]="true"
      ></app-header-met-toevoeg-button>

      <p *ngIf="verlanglijstjes?.length == 0">
        (Nog) geen verlanglijstjes aanwezig...
      </p>

      @for (verlanglijstje of verlanglijstjes; track verlanglijstje) {
        <div class="card">
          <div class="card-body">
            <a
              href="/verlanglijstje/{{verlanglijstje.id}}">{{ verlanglijstje.omschrijving == null ? 'Geen omschrijving' : verlanglijstje.omschrijving }}
              - {{ gezinslid(verlanglijstje.gezinslid) }}</a>
            &nbsp;
            <app-opslaan-en-afbreken-buttons
              [id]="verlanglijstje.id"
              [nieuweRegel]="false"
              [verwijderButtonTonen]="true"
              [opslaanButtonTonen]="false"
              [afbrekenButtonTonen]="false"
              [verwijderButtonTonen]="true"
              (verwijderenEventEmitter)="verwijder($event)"
            ></app-opslaan-en-afbreken-buttons>
          </div>
        </div>
      }
    </div>
  </div>
</div>

<app-modal
  [tonen]="modalTonen"
  [tekst]="'Weet je zeker dat je het verlanglijstje met omschrijving '+ getOmschrijving(teVerwijderenLijst) +' wilt verwijderen?'"
  (jaActieEmitter)="doeVerwijder()"
  (neeActieEmitter)="verbergModal()"
></app-modal>
