<h4>
  {{ headerTekst }}
  <span style="float: right;">
    <button *ngIf="wijzigKnopTonen" type="button" class="btn btn-ghost-blue" (click)="wijzigActie()">
      Wijzigen
    </button>
    <button type="button" class="btn btn-ghost-success" (click)="toevoegActie()" *ngIf="toevoegKnopTonen">
      Toevoegen
    </button>
  </span>
</h4>
