<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
  <app-side-bar></app-side-bar>
</aside>
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <h2>Mijn gezin</h2>
      <h3>{{ gezin.naam }}</h3>
      <div class="table-responsive">
        <app-header-met-toevoeg-button
          headerTekst="Gezinsleden"
          (toevoegActieEmitter)="nieuwGezinsLid()"
          [toevoegKnopTonen]="true"
        ></app-header-met-toevoeg-button>
        <table class="table table-vcenter">
          <thead>
          <tr>
            <th></th>
            <th>Voornaam</th>
            <th>Tussenvoegsel</th>
            <th>Achternaam</th>
            <th>Soort gezinslid</th>
            <th>Geslacht</th>
            <th>
              <button class="table-sort" data-sort="sort-name">Geboortedatum</button>
            </th>
            <th>Berwerkingen</th>
          </tr>
          </thead>
          <tbody>
            @for (lid of gezin.gezinsleden; track lid) {
              <tr>
                <td>
                  <app-avatar [gezinslid]="lid"></app-avatar>
                </td>
                <td class="text-secondary">{{ lid.voornaam }}</td>
                <td class="text-secondary">{{ lid.tussenvoegsel }}</td>
                <td class="text-secondary">{{ lid.achternaam }}</td>
                <td class="text-secondary">{{ lid.soortGezinslid | maakSoortOuderEnumOp }}</td>
                <td class="text-secondary">{{ lid.geslacht | maakGeslachtEnumOp }}</td>
                <td class="text-secondary sort-name">{{ lid.geboorteDatum | maakDatumOp }}</td>
                <td>
                  <button type="button" class="btn btn-ghost-primary btn-sm" (click)="bewerk(lid)">
                    Bewerk
                  </button>
                  <button *ngIf="!benIkDitZelf(lid)" type="button" class="btn btn-ghost-danger btn-sm" (click)="setVerwijderLid(lid)">
                    Verwijder
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-modal
  [tonen]="modalTonen"
  [tekst]="'Weet je zeker dat je gezinslid '+ maakNaamOp(teVerwijderenGezinslid) +' wilt verwijderen?'"
  (jaActieEmitter)="verwijderGezinslid()"
  (neeActieEmitter)="verbergModal()"
></app-modal>
