@if (gezinnen.length > 0) {
  <div class="accordion" id="accordion-example">
    @for (gezin of gezinnen; track gezin) {
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{gezin.id}}">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" (click)="toggle(gezin.id!)">
            {{ gezin.naam }}
          </button>
        </h2>
      </div>

      <div id="collapse-{{gezin.id!}}" class="accordion-collapse collapse {{tonen[gezin.id!]}}" data-bs-parent="#accordion-example">
        <div class="accordion-body pt-0">
          <div class="table-responsive">
            <table class="table table-vcenter">
              <thead>
              <tr>
                <th></th>
                <th>Voornaam</th>
                <th>Tussenvoegsel</th>
                <th>Achternaam</th>
                <th>Soort gezinslid</th>
                <th>Geslacht</th>
                <th>Geboortedatum</th>
              </tr>
              </thead>
              <tbody>
                @for (lid of gezin.gezinsleden; track lid) {
                  <tr>
                    <td>
                      <app-avatar [gezinslid]="lid"></app-avatar>
                    </td>
                    <td class="text-secondary">{{ lid.voornaam }}</td>
                    <td class="text-secondary">{{ lid.tussenvoegsel }}</td>
                    <td class="text-secondary">{{ lid.achternaam }}</td>
                    <td class="text-secondary">{{ lid.soortGezinslid | maakSoortOuderEnumOp }}</td>
                    <td class="text-secondary">{{ lid.geslacht | maakGeslachtEnumOp }}</td>
                    <td class="text-secondary sort-name">{{ lid.geboorteDatum | maakDatumOp }}</td>
                  </tr>
                }
              </tbody>
            </table>

          </div>
        </div>
      </div>
    }
  </div>
}
