<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
  <app-side-bar></app-side-bar>
</aside>
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      @if (winkels().length > 0) {
        <div class="mb-3" style="width: 25%;">
          <label class="form-label" for="filterwinkel">Filter op winkel :</label>
          <select class="form-control" type="text" name="filterwinkel" id="filterwinkel" [(ngModel)]="teFilterenWinkel" (change)="filterOpWinkel()">
            <option value=""></option>
            @for (winkel of winkels(); track winkel) {
              <option value="{{winkel}}">{{ winkel }}</option>
            }
          </select>
        </div>
      }
      <table style="width: 50%;" class="table table-responsive">
        <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Wat ?</th>
          <th>Waar ?</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
          @for (boodschappenItem of gefilterdeLijstBoodschappen; track boodschappenItem; let i = $index) {
            <tr>
              <td>
                <input id="afvinken-{{i}}" type="checkbox" class="form-selectgroup-check" (change)="vinkItemAf(boodschappenItem)"/>
              </td>
              <td id="omschrijving-{{i}}">
                <span *ngIf="wijzigId != boodschappenItem.id">{{ boodschappenItem.omschrijving }}</span>
                <input *ngIf="wijzigId == boodschappenItem.id" class="form-control" type="text" id="wijzigomschrijving-{{i}}"
                       [(ngModel)]="boodschappenItem.omschrijving"/>
              </td>
              <td id="winkel-{{i}}">
                <span *ngIf="wijzigId != boodschappenItem.id">{{ boodschappenItem.winkel }}</span>
                <input *ngIf="wijzigId == boodschappenItem.id" class="form-control" type="text" id="wijzigwinkel-{{i}}"
                       [(ngModel)]="boodschappenItem.winkel"/>
              </td>
              <td id="wijzig-{{i}}">
                <button type="button" class="btn btn-ghost-blue" (click)="wijzigItem(boodschappenItem)" *ngIf="wijzigId != boodschappenItem.id">
                  Wijzig
                </button>
                <button type="button" class="btn btn-ghost-orange" (click)="opslaanItem(boodschappenItem)" *ngIf="wijzigId == boodschappenItem.id">
                  Opslaan
                </button>
              </td>
            </tr>
          }
        <tr>
          <td>&nbsp;</td>
          <td id="omschrijving-invoer">
            <input class="form-control" #nieuweomschrijvingE type="text" id="nieuweomschrijving" [(ngModel)]="nieuweomschrijving"
                   (keydown)="onKeyDown($event)"/>
          </td>
          <td id="winkel-invoer">
            <input class="form-control" type="text" id="nieuwewinkel" [(ngModel)]="nieuwewinkel" (keydown)="onKeyDown($event)"/>
          </td>
          <td id="knop-invoer">
            <button type="button" class="btn btn-ghost-success" (click)="voegItemToe()">
              Toevoegen
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
